<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinan.mapper.UserRoleMapper">

    <select id="findById" parameterType="int" resultType="UserRole">
        SELECT `id`, user_id, role_id
        FROM `user_role`
        WHERE `id` = #{id};
    </select>

    <select id="findByUserId" parameterType="int" resultType="UserRole">
        SELECT `id`, user_id, role_id
        FROM user_role
        WHERE user_id = #{userId}
    </select>

    <insert id="save" parameterType="UserRole">
        INSERT INTO `user_role`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                `user_id`,
            </if>
            <if test="roleId != null">
                `role_id`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE
        FROM user_role
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="UserRole">
        UPDATE user_role
        <set>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </set>
        <set>
            <if test="roleId != null">
                role_id = #{roleId}
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

</mapper>